.header {
  background-color: $color-default-black;
  color: $color-default-white;

  &.is-open {
    height: 100vh;
    overflow: auto;

    .header__phone {
      display: flex;
    }

    .header__address {
      display: flex;
    }

    .header__nav {
      display: flex;
    }

  }

  &__wrapper {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;

    @include vp-768 {
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(14px) 0;

    @include vp-768 {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }
  }

  &__logo-link {
    aspect-ratio: 307 / 48;
    width: size(307px);
    flex-shrink: 0;
    transition: opacity $trans-default;

    @include vp-768 {
      width: 150px;
    }

    @include hover-focus {
      &[href] {
        opacity: 0.7;
      }
    }
  }

  &__phone {
    display: flex;
    gap: size(10px);
    align-items: center;
    font-size: size(15px);
    font-weight: 500;
    transition: color $trans-default;

    @include vp-768 {
      display: none;
      font-size: 12px;
    }

    svg {
      width: size(21px);
      height: 100%;
    }

    @include hover-focus {
      color: $color-blue;
    }
  }

  &__address {
    display: flex;
    gap: size(10px);
    align-items: center;
    font-size: size(13px);
    font-style: normal;

    @include vp-768 {
      display: none;
      font-size: 10px;
    }

    svg {
      width: size(17px);
      height: 100%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(10px) 0;
    transition: opacity $trans-default;
    position: relative;

    @include vp-768 {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: size(1px);
      background-color: rgba($color-default-white, 0.2);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: size(13px);
  }

  &__link {
    font-size: size(10px);
    font-weight: 500;
    transition: color $trans-default;

    @include hover-focus {
      color: $color-blue;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: size(13px);
  }

  &__button {
    text-transform: uppercase;
    font-size: size(11px);
    transition: color $trans-default;
    cursor: pointer;
    user-select: none;

    @include hover-focus {
      color: $color-blue;
    }
  }

  &__burger {
    display: none;

    @include vp-768 {
      position: absolute;
      right: 0;
      top: 10px;
      display: block;
    }
  }
}
