.timer {
  padding: size(35px) 0;
  background-color: $color-silver;

  &__title {
    margin-bottom: size(10px);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr size(467px);
    align-items: center;
    gap: size(113px);
    justify-content: space-between;

    @include vp-768 {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__countdown {
    width: 100%;
  }

  &__button {
    min-height: size(70px);

    @include vp-768 {
      min-height: 45px;
    }
  }
}
