.title {
  margin: 0;

  &--h1 {
    font-weight: 500;
    font-size: size(40px);
    line-height: size(55px);
    color: $color-default-white;

    @include vp-768 {
      font-size: 20px;
      line-height: 100%;
    }
  }

  &--h2 {
    font-size: size(22px);
    line-height: size(31px);
    font-weight: 500;
    text-transform: uppercase;

    @include vp-768 {
      font-size: 15px;
    }
  }

  &--h3 {
    text-transform: uppercase;
    font-size: size(16px);
    font-weight: 400;
  }
}
