.title {
  margin: 0;

  &--h1 {
    font-weight: 500;
    font-size: size(40px);
    line-height: size(55px);
    color: $color-default-white;

    @include vp-768 {
      font-size: 20px;
      line-height: 100%;
    }
  }

  &--h2 {
    font-size: size(36px);
    font-weight: 800;

    @include vp-768 {
      font-size: 22px;
    }
  }
}
